################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BuddyMatch/CopilotIndices/17.14.878.3237
/BuddyMatch.Wev/node_modules
/BuddyMatch.Api/obj/Debug/net9.0/ref/BuddyMatch.Api.dll
